.heading{
    color: red;
    background-color: green;
    text-align: center;
    
}

body{
    background-color: aqua;
    text-align: center;
}

.btn{
    color: red;
    background-color: rgb(1, 255, 1);
}

body {
               
}

