h1,h2{
    color: blue;
    background-color: red;
}

.box{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: solid 2px;
    margin: 25px;
    text-align: center;
}