.red {
    background-color: red;
    color : green;
}

.green {
    background-color: green;
    color : blue;
}

.blue{
    background-color: blue;
    color : red;
}

.orange{
    background-color: orange;
    
}








