div{
    height: 100px;
    width: 100px;
    background-image: url(images/Bmw_photo4.avif);
    background-size: cover;
    border: solid 2px black;
    position: fixed;
    right: 0px;
    top: 50px;
    color: aqua;
}