/* Creating a simle loader */
div{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* background-color: red; */
    border: 20px solid #ffe66d;
    border-top: 20px solid #4ecdc4;
    animation: spin 0.7 5s ease-in 0s infinite normal
    
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

